<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"></link>
    <link href="favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"></link>
    <link href="favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"></link>
    <link href="favicon/manifest.json" rel="manifest"></link>

    <link color="#5bbad5" href="favicon/safari-pinned-tab.svg" rel="mask-icon"></link>
    <meta name="theme-color" content="#ffffff">

    <meta content="<%= @title %>" name="apple-mobile-web-app-title"/>
    <meta content="Standard Notes" name="application-name"/>
    <base href="/"></base>

    <title><%= @title %></title>
    <meta name="description" content="<%= @desc %>"/>

    <meta name="twitter:title" content="<%= @title %>"/>
    <meta name="twitter:description" content="<%= @desc %>"/>
    <meta name="twitter:site" content="@standardnotes"/>
    <meta name="twitter:card" content="summary"/>

    <meta name="og:title" content="<%= @title %>"/>
    <meta name="og:description" content="<%= @desc %>"/>

    <%= stylesheet_link_tag "presentation", media: "all", debug: false %>

  </head>

  <body class="presentation-body">
    <div class="content">
      <div class="presentation-content">
        <% @notes.each do |note| %>
          <%= render :partial => 'presentations/note', :object => note %>
        <% end %>

        <div class="note-footer">
          <a href="", target="_blank"> powered by Standard Notes </a>
        </div>
      </div>
    </div>
  </body>

</html>
